
  
      <!-- Main Content Area (This will be dynamically updated) -->
      <div class="flex-grow-1 p-4" id="content-area">
      
      <form action="/partnership/create" method="POST" class="mb-4 w-2xl mx-auto">
        <div class="grid grid-cols-2 gap-2 ">
            <div class="col-md-4">
                <label class="form-label font-bold block pb-2">Program</label>
                <input type="text" class="px-3 py-1 w-full rounded border outline-none" name="program" class="px-3 py-1 w-full rounded border outline-none" placeholder="Enter program name" required >
            </div>
           
 
            <div class="col-md-4">
                <label class="form-label font-bold block pb-2">Start Date</label>
                <input type="date" name="start_date" class="px-3 py-1 w-full rounded border outline-none" required id="startDate">
            </div>
            <div class="col-md-4">
                <label class="form-label font-bold block pb-2">End Date</label>
                <input type="date" name="end_date" class="px-3 py-1 w-full rounded border outline-none" required id="endDate">
            </div>
            <div class="col-md-4">
                <label class="form-label font-bold block pb-2">Duration</label>
                <input type="text" readonly name="duration" class="px-3 py-1 w-full rounded border outline-none"
                 placeholder="Enter duration (e.g., 6 months)" required id="duration">
            </div>
        </div>

        <div class="flex gap-4">
            <button type="submit" class="bg-success py-2 px-3 outline-none border-none rounded mt-4 text-white w-16 text-center">Save</button>
            <button type="reset" class="bg-red-600 py-2 px-3 outline-none border-none rounded mt-4 text-white  text-center">Cancel</button>

        </div>

        
       </form>
        </div>


     

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script>

   
    const endDate =     document.getElementById("endDate")
   const startDate = document.getElementById("startDate")
   const durationInput = document.getElementById("duration")
    document.getElementById("startDate").addEventListener("input",function(){
        // const endDate =     document.getElementById("endDate")
        if(endDate.value  ){
            if(startDate.value > endDate.value ){
                alert("Starting date can not be greater than ending date")
                startDate.value = ""
                return 
            }
            const duration = calculateDuration(this.value,endDate.value)
            durationInput.value = duration
        }
        
    })
    document.getElementById("endDate").addEventListener("input",function(){
        // const endDate =     document.getElementById("endDate")
        if(startDate.value ){
            if(startDate.value > endDate.value ){
                alert("Starting date can not be greater than ending date")
                endDate.value = ""
                return 
            }
            const duration = calculateDuration(startDate.value,this.value)
     
            durationInput.value = duration
        }
    
    })


const calculateDuration = (startDate, endDate) => {
    if (startDate && endDate) {
        const start = new Date(startDate);
        const end = new Date(endDate);
        const diffTime = Math.abs(end - start);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
       return  (diffDays > 1) ? diffDays +' Days': (diffDays == 0 )?  '24hrs ':diffDays +' Day';
      
        
    }
};


    </script>
    
    
 
 

